<!DOCTYPE html>
<html>
<head>
	<title>Climate Clicker</title>
	<link href="..\static\css\main.css" type="text/css" rel="stylesheet"></link>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="background-image: url('../static/images/Background.jpg');">
	<img id="mainIcon" src="..\static\images\Recycle.png">
	<div id="upgradePanel">
		<button class="collapsible_button" id="upgrades"><h2>Upgrades</h2></button>
		<div class="content">
			<table>
				<tr align="center">
					<td><button class="buttonDisabledUpgrade" id="upgrade1" onclick="handleUpgrade(-1, 1, 'upgrade1', 25)">Hand-Eye Coordination <br /><span>($25)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade2" onclick="handleUpgrade(-1, 1, 'upgrade2', 10000)">More Recycling Cans <br /><span>($10,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade3" onclick="handleUpgrade(0, 1, 'upgrade3', 15000)">Supportive Friends <br /><span>($15,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade4" onclick="handleUpgrade(0, 1, 'upgrade4', 50000)">Enthusiastic Friends <br /><span>($50,000)</span></button></td>
				</tr>
				<tr align="center">
					<td><button class="buttonDisabledUpgrade" id="upgrade5" onclick="handleUpgrade(1, 1, 'upgrade5', 30000)">Clean Up the Beach <br /><span>($30,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade6" onclick="handleUpgrade(1, 1, 'upgrade6', 100000)">Frequent Meetings <br /><span>($100,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade7" onclick="handleUpgrade(2, 1, 'upgrade7', 55000)">Take a Lobbyist to Lunch <br /><span>($55,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade8" onclick="handleUpgrade(2, 1, 'upgrade8', 150000)">Bestfriends with a Politician <br /><span>($150,000)</span></button></td>
				</tr>
				<tr align="center">
					<td><button class="buttonDisabledUpgrade" id="upgrade9" onclick="handleUpgrade(3, 1, 'upgrade9', 100000)">Small Court Victory <br /><span>($100,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade10" onclick="handleUpgrade(3, 1, 'upgrade10', 300000)">Big Law Passed <br /><span>($300,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade11" onclick="handleUpgrade(4, 1, 'upgrade11', 200000)">E-Day Celebrations <br /><span>($200,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade12" onclick="handleUpgrade(4, 1, 'upgrade12', 500000)">Make Gov. Holiday <br /><span>($500,000)</span></button></td>
				</tr>
				<tr align="center">
					<td><button class="buttonDisabledUpgrade" id="upgrade13" onclick="handleUpgrade(5, 1, 'upgrade13', 350000)">Raise Taxes <br /><span>($350,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade14" onclick="handleUpgrade(5, 1, 'upgrade14', 600000)">REALLY Raise Taxes <br /><span>($600,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade15" onclick="handleUpgrade(6, 1, 'upgrade15', 1000000)">Improved Technology <br /><span>($1,000,000)</span></button></td>
					<td><button class="buttonDisabledUpgrade" id="upgrade16" onclick="handleUpgrade(6, 1, 'upgrade16', 5000000 )">Renewable Alternatives <br /><span>($5,000,000)</span></button></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="itemsPanel" style="margin-top: -15px;">
		<h1>Items</h1>
		<table id="itemsList" style="margin-top: -20px;">
			<tr class="buttonDisabled">
				<td>
					<button class="button2">
						<h2>Grab a friend</h2>
						<p>Done: <span>0</span> Cost: <span>0</span></p>
					</button>
				</td>
			</tr>
			<tr class="buttonDisabled"><td>
				<button class="button2">
					<h2>Organize a community cleanup</h2>
					<p>Done: <span>0</span> Cost: <span>0</span></p>
				</button>
			</td></tr>
			<tr class="buttonDisabled"><td>
				<button class="button2">
					<h2>Convince a local official</h2>
					<p>Done: <span>0</span> Cost: <span>0</span></p>
				</button>
			</td></tr>
			<tr class="buttonDisabled"><td>
				<button class="button2">
					<h2>Get a law passed</h2>
					<p>Done: <span>0</span> Cost: <span>0</span></p>
				</button>
			</td></tr>
			<tr class="buttonDisabled"><td>
				<button class="button2">
					<h2>Make a new Earth Day</h2>
					<p>Done: <span>0</span> Cost: <span>0</span></p>
				</button>
			</td></tr>
			<tr class="buttonDisabled"><td>
				<button class="button2">
					<h2>Create a carbon tax</h2>
					<p>Done: <span>0</span> Cost: <span>0</span></p>
				</button>
			</td></tr>
			<tr class="buttonDisabled"><td>
				<button class="button2">
					<h2>Set an emissions goal</h2>
					<p>Done: <span>0</span> Cost: <span>0</span></p>
				</button>
			</td></tr>
		</table>
	</div>
	<div id="pointsCounterPanel">
		<h2>Points: <span id="pointsCounter"></span></h2>
	</div>

	<div id="climateStatePanel">
		<h2>Climate Health: <span id="climateState"></span></h2>
	</div>
</body>
<script src="..\static\js\functions.js"></script>
</html>